.photo_step_zone .photo_step {
  /* border: 1px solid red; */
  margin-bottom: 35px;
}

.photo_step .step {
  /* border: 1px solid rgb(153, 131, 4); */
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.photo_step .photo {
  width: 30%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  position: relative;
  background-image: url("https://img.icons8.com/officexs/40/000000/old-time-camera.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .9;
  display: inline-block;
  /* border: 1px solid blue; */

}

.photo_step .photo .upload_img {
  /* border: 1px solid black; */
  display: flex;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.photo_step .photo .upload_img label {
  /* border: 1px solid firebrick; */
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #713f2c;
  background-color: #FBD9D9;
  border-radius: 5px;
  opacity: 1;
  padding: 5px;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px 2px lightslategray;
}

.photo_step span {
  font-size: 16px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid rgb(0, 255, 0); */
  color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
}

.photo_step span p {
  display: inline-block;
  /* border: 1px solid blue; */
  line-height: 25px;


}

.photo_step span img {
  /* border: 1px solid blue; */
  opacity: .4;
  height: 100%;
  cursor: pointer;
  display: inline-block;

}

.photo_step .step textarea {
  resize: none;
  display: inline-block;
  width: 68%;
  height: 100%;
  font-size: 14px;
  border: 1px solid lightgray;
  /* border: 1px solid black; */
}

.photo_step .step textarea:focus {
  border: 1px solid #713f2c;
  outline: none;
}

@media (max-width: 767px) {
  .photo_step .step {
    width: 100%;
    height: 130px;
  }

  .photo_step .photo {
    width: 37%;
    /* border: 1px solid black; */

  }

  .photo_step .step textarea {
    width: 62%;
    font-size: 12px;
  }

  .photo_step .photo .upload_img {
    bottom: 10px;
  }

  .photo_step .photo .upload_img label {
    font-size: 12px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .photo_step .step {
    height: 180px;
  }

  .photo_step .photo {
    width: 26%;
  }

  .photo_step .step textarea {
    width: 73%;
    font-size: 12px;

  }

}