.slick_slider {
  /* border: 1px solid red; */
  display: flex;
  /* display: inline-block; */
  margin: 0;
  padding-top: 110px;
  width: 100%;
}

.slick_slider .items {
  /* border: 1px solid blue; */
  width: 100%;
  margin: 5px;
  position: relative;
  outline: none;

}

.slick-center {
  z-index: 1;
}

.slick_slider .items:first-child {
  border: 1px solid red;
  margin-left: 3px;
}

.slick_slider .overlay {

  width: 225px;
  height: 150px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: .5;

}

.slick_slider .slick-center .overlay {
  opacity: 0;
  transition: all linear .2s;

}

.slick_slider .items img {
  /* border: 1px solid black; */
  width: 225px;
  height: 150px;
  transition: all linear .4s;
  margin: 0 auto;

}

.slick_slider .slick-center img {
  transform: scale(1.2);

}


@media (max-width: 575px) {
  .slick_slider {
    padding-top: 60px;
  }

  .slick_slider .items img {
    width: 90px;
    height: 60px;

  }

  .slick_slider .overlay {
    width: 90px;
    height: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .slick_slider {
    padding-top: 60px;
  }

  .slick_slider .items img {
    width: 101px;
    height: 67px;

  }

  .slick_slider .overlay {
    width: 101px;
    height: 67px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .slick_slider {
    padding-top: 60px;
  }

  .slick_slider .items img {
    width: 135px;
    height: 90px;
  }

  .slick_slider .overlay {
    width: 135px;
    height: 90px;
  }

}

@media (min-width: 851px) and (max-width: 991px) {
  .slick_slider {
    padding-top: 60px;
  }

  .slick_slider .items img {
    width: 146px;
    height: 97px;
  }

  .slick_slider .overlay {
    width: 146px;
    height: 97px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .slick_slider .items img {
    width: 175px;
    height: 117px;
  }

  .slick_slider .overlay {
    width: 175px;
    height: 117px;
  }

}

@media (min-width: 1200px) and (max-width: 1919px) {
  .slick_slider .items img {
    width: 202px;
    height: 135px;
  }

  .slick_slider .overlay {
    width: 202px;
    height: 135px;
  }

}

@media (min-width: 1920px) {
  .slick_slider .items img {
    width: 247px;
    height: 165px;

  }

  .slick_slider .overlay {

    width: 247px;
    height: 165px;
  }
}